html,body,div,span,h2,h3,h4,h5,p,a,img,small,strong,i,ul,li,footer,header,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

footer,header,nav,section {
	display: block
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:active,a:hover {
	outline: 0
}

b,strong {
	font-weight: 700
}

small {
	font-size: 80%
}

img {
	border: 0
}

body {
	padding-top: 80px;
	color: #4a5669;
	line-height: 1;
	font-size: 16px;
	font-weight: 400;
	font-family: open sans,sans-serif;
	background-color: #fff;
	-webkit-font-smoothing: antialiased
}

body::after {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	font-family: material icons;
	content: "\e86f"
}

body.preload::before {
	content: '';
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0098ef;
	-webkit-transition: opacity .4s;
	transition: opacity .4s
}

body.preload::after {
	content: '';
	position: fixed;
	z-index: 1101;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin: -16px 0 0 -16px;
	background: transparent url(../img/layout/loading.svg) center center no-repeat;
	-webkit-animation: body-preload .6s linear infinite;
	animation: body-preload .6s linear infinite
}

body.preload.preload-done::before,body.preload.preload-done::after {
	opacity: 0
}

@-webkit-keyframes body-preload {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes body-preload {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

a {
	color: #333;
	text-decoration: none;
	-webkit-transition: color .2s,background-color .2s;
	transition: color .2s,background-color .2s
}

a:focus,a:active {
	outline: 0
}

a:hover {
	text-decoration: none
}

h1,h2,h3,h4,h5 {
	font-family: Montserrat,sans-serif;
	font-weight: 400
}

h1 {
	font-size: 42px;
	line-height: 52px
}

h2 {
	font-size: 32px;
	line-height: 42px
}

h3 {
	font-size: 24px;
	line-height: 34px
}

h4 {
	font-size: 20px;
	line-height: 30px
}

h5 {
	font-size: 16px;
	line-height: 26px
}

p {
	line-height: 28px
}

small {
	font-size: 87.5%;
	line-height: 87.5%
}

strong {
	font-weight: 700
}

img {
	display: inline-block;
	max-width: 100%
}

.text-margin-left {
	margin-left: 1em
}

.text-margin-right {
	margin-right: 1em
}

.text-align-left {
	text-align: left
}

.text-align-right {
	text-align: right
}

.text-align-center {
	text-align: center
}

.text-break-all {
	word-break: break-all
}

.text-color-dark {
	color: #4a5669!important
}

.text-color-light {
	color: #fff!important
}

.text-color-gray {
	color: #a0abbc!important
}

.text-color-primary {
	color: #0098ef!important
}

.text-color-secondary {
	color: #fc3!important
}

.text-color-success {
	color: #00b75a!important
}

.text-color-warning {
	color: #ffcc34!important
}

.text-color-error {
	color: #cd3100!important
}

ul.list-style-nav,ul.list-style-none,ul.list-style-icon {
	list-style-type: none
}

ul.list-style-nav {
	overflow: hidden;
	background-color: #fff;
	border: 2px solid #e6e9ee;
	border-radius: 12px
}

ul.list-style-nav>li {
	-webkit-transition: background-color .2s;
	transition: background-color .2s
}

ul.list-style-nav>li:not(:last-of-type) {
	border-bottom: 1px solid #e6e9ee
}

ul.list-style-nav>li:hover {
	background-color: #f0f2f5
}

ul.list-style-nav>li a:hover {
	color: #a0abbc!important;
	text-decoration: none
}

ul.list-style-nav>li>a {
	display: block;
	padding: 10px 15px
}

ul.list-style-nav>li ul {
	margin: 8px 0 24px 34px!important;
	list-style-type: none;
	font-size: 14px
}

ul.list-style-icon li {
	position: relative;
	padding-left: 26px
}

ul.list-style-icon li .fa,ul.list-style-icon li .fas,ul.list-style-icon li .far,ul.list-style-icon li .fal,ul.list-style-icon li .fab,ul.list-style-icon li .material-icons {
	position: absolute;
	left: 0;
	width: 20px;
	height: 28px;
	line-height: 28px;
	text-align: center
}

ul.list-style-icon li .svg-inline--fa {
	position: absolute;
	top: 6px;
	left: 0;
	width: 20px
}

button,.button {
	display: inline-block;
	padding: 16px 20px;
	cursor: pointer;
	color: #0098ef;
	line-height: 1;
	font-size: 14px;
	font-weight: 700;
	font-family: Montserrat,sans-serif;
	text-transform: uppercase;
	text-align: center;
	background-color: #fff;
	border: 2px solid #e6e9ee;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: color .2s;
	transition: color .2s
}

button.button-primary,.button.button-primary,button.button-secondary,.button.button-secondary {
	padding: 18px 22px;
	border: 0
}

button.button-primary,.button.button-primary {
	color: #fff;
	background-color: #0098ef
}

button.button-secondary,.button.button-secondary {
	color: #4a5669;
	background-color: #fc3
}

button.button-small,.button.button-small {
	padding: 8px 14px;
	border-radius: 4px
}

button.button-primary.button-small,.button.button-primary.button-small,button.button-secondary.button-small,.button.button-secondary.button-small {
	padding: 10px 16px
}

button.button-large,.button.button-large {
	font-size: 16px;
	padding: 20px 24px;
	border-radius: 8px
}

button.button-primary.button-large,.button.button-primary.button-large,button.button-secondary.button-large,.button.button-secondary.button-large {
	padding: 22px 26px
}

button.button-full-width,.button.button-full-width {
	width: 100%
}

button:hover,.button:hover {
	color: #a0abbc;
	text-decoration: none
}

button.button-primary:hover,.button.button-primary:hover {
	color: rgba(255,255,255,.6)
}

button.button-secondary:hover,.button.button-secondary:hover {
	color: rgba(74,86,105,.6)
}

button:focus,.button:focus,button:active,.button:active {
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(74,86,105,0.1)),to(rgba(74,86,105,0.1)));
	background-image: linear-gradient(rgba(74,86,105,0.1) 0,rgba(74,86,105,0.1) 100%)
}

@font-face {
	font-family:material icons;font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2')
}

.material-icons {
	font-family: material icons;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	/* -moz-font-feature-settings: 'liga'; */
	-moz-osx-font-smoothing: grayscale
}

.icon-left {
	margin-right: .5em
}

.icon-right {
	margin-left: .5em
}

.icon-feature {
	height: 64px;
	line-height: 64px;
	font-size: 64px;
	color: #4169e1
}

.product-box {
	position: relative;
	padding: 30px 0;
	color: #4a5669;
	text-align: center;
	background-color: #fff;
	border: 2px solid #e6e9ee;
	border-radius: 12px
}

.product-box.product-box-popular {
	margin-top: 54px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.product-box .product-popular {
	position: absolute;
	top: -54px;
	left: -2px;
	right: -2px;
	height: 54px;
	color: #fff;
	font-size: 14px;
	line-height: 54px;
	text-transform: uppercase;
	font-family: Montserrat,sans-serif;
	background-color: #4169e1;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px
}

.product-box .product-header {
	padding: 0 30px
}

.product-box .product-header p {
	margin-top: 0!important;
	color: #a0abbc;
	font-size: 14px;
	line-height: 24px
}

.product-box .product-price {
	position: relative;
	padding: 0 30px 30px;
	margin-top: -6px;
	color: #4169e1;
	font-size: 42px;
	font-weight: 700;
	border-bottom: 1px solid #e6e9ee
}

.product-box .product-price .term {
	position: absolute;
	bottom: 34px;
	margin-left: 4px;
	font-size: 13px
}

.product-box .product-features {
	padding: 0 30px
}

.product-box .product-features ul {
	margin: 0!important;
	list-style-type: none
}

.product-box .product-features ul:last-of-type:not(:first-of-type) {
	margin-top: 20px!important;
	color: #a0abbc;
	font-size: 14px;
	line-height: 24px
}

.product-box .product-order {
	padding: 0 30px
}

.product-box .product-order .button {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.product-box .product-order button:not(:first-child),.product-box .product-order .button:not(:first-child) {
	margin-top: 15px
}

.product-box .product-header:not(:last-of-type),.product-box .product-price:not(:last-of-type),.product-box .product-features:not(:last-of-type),.product-box .product-order:not(:last-of-type) {
	margin-bottom: 30px
}

.product-box .product-price:last-of-type {
	padding: 30px 30px 0;
	border-top: 1px solid #e6e9ee;
	border-bottom: 0
}

.product-box .product-price:last-of-type .term {
	bottom: 4px
}

.network-map {
	position: relative
}

.network-map ul {
	margin: 0!important;
	list-style-type: none
}

.network-map ul li {
	position: absolute;
	z-index: 1;
	width: 12px;
	height: 12px;
	margin: -6px;
	background-color: #0098ef;
	border-radius: 6px
}

.network-map ul li a {
	display: block;
	width: 12px;
	height: 12px
}

.network-map ul li span.label-top-left,.network-map ul li span.label-top-right,.network-map ul li span.label-bottom-left,.network-map ul li span.label-bottom-right {
	position: absolute;
	color: #fff;
	padding: 4px 8px;
	margin-top: -8px;
	line-height: 20px;
	font-size: 14px;
	white-space: nowrap;
	font-family: Montserrat,sans-serif;
	background-color: #0098ef;
	border-radius: 4px;
	-webkit-transition: color .2s;
	transition: color .2s
}

.network-map ul li a:hover span.label-top-left,.network-map ul li a:hover span.label-top-right,.network-map ul li a:hover span.label-bottom-left,.network-map ul li a:hover span.label-bottom-right {
	color: rgba(255,255,255,.6);
	text-decoration: none
}

.network-map ul li span.label-top-left {
	top: -32px;
	right: 24px
}

.network-map ul li span.label-top-right {
	top: -32px;
	left: 24px
}

.network-map ul li span.label-bottom-left {
	bottom: -40px;
	right: 24px
}

.network-map ul li span.label-bottom-right {
	bottom: -40px;
	left: 24px
}

.network-map ul li span.label-top-left::before,.network-map ul li span.label-top-right::before,.network-map ul li span.label-bottom-left::before,.network-map ul li span.label-bottom-right::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 1px;
	background-color: #0098ef
}

.network-map ul li span.label-top-left::before,.network-map ul li span.label-bottom-right::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.network-map ul li span.label-top-right::before,.network-map ul li span.label-bottom-left::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.network-map ul li span.label-top-left::before {
	top: 34px;
	right: -18px
}

.network-map ul li span.label-top-right::before {
	top: 34px;
	left: -18px
}

.network-map ul li span.label-bottom-left::before {
	top: -6px;
	right: -18px
}

.network-map ul li span.label-bottom-right::before {
	top: -6px;
	left: -18px
}

.network-map img {
	display: block;
	width: 100%;
	opacity: .1
}

#nav-overlay {
	position: absolute;
	z-index: 1001;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 0
}

#nav-overlay .logo {
	float: none!important
}

#nav-overlay:not(.nav-overlay-light):not(.nav-overlay-gray):not(.nav-overlay-dark) .logo {
	color: #fff
}

#nav-overlay nav ul {
	list-style-type: none
}

#nav-overlay nav .nav-primary {
	margin-top: 30px;
	padding: 20px 30px;
	border: 2px solid rgba(255,255,255,.2);
	border-radius: 12px
}

#nav-overlay.nav-overlay-light nav .nav-primary,#nav-overlay.nav-overlay-gray nav .nav-primary {
	background-color: #fff;
	border-color: #e6e9ee
}

#nav-overlay.nav-overlay-dark nav .nav-primary {
	border-color: #3a4659
}

#nav-overlay nav .nav-primary>li {
	padding: 10px 0;
	line-height: 20px
}

#nav-overlay nav .nav-primary>li a:not(.button) {
	color: #fff
}

#nav-overlay.nav-overlay-light nav .nav-primary>li a:not(.button),#nav-overlay.nav-overlay-gray nav .nav-primary>li a:not(.button),#nav-overlay.nav-overlay-dark nav .nav-primary>li a:not(.button) {
	color: #0098ef
}

#nav-overlay nav .nav-primary>li>a:not(.button) {
	font-size: 14px;
	font-weight: 700;
	font-family: Montserrat,sans-serif;
	text-transform: uppercase
}

#nav-overlay:not(.nav-overlay-light):not(.nav-overlay-gray):not(.nav-overlay-dark) nav .nav-primary>li>a.button.button-primary {
	padding: 16px 20px;
	border: 2px solid rgba(255,255,255,.2)
}

#nav-overlay:not(.nav-overlay-light):not(.nav-overlay-gray) nav .nav-primary>li>a.button:not(.button-primary) {
	padding: 18px 22px;
	border: 0
}

#nav-overlay nav .nav-primary>li a:not(.button):hover {
	color: rgba(255,255,255,.6);
	text-decoration: none
}

#nav-overlay.nav-overlay-light nav .nav-primary>li a:not(.button):hover,#nav-overlay.nav-overlay-gray nav .nav-primary>li a:not(.button):hover {
	color: #a0abbc
}

#nav-overlay.nav-overlay-dark nav .nav-primary>li a:not(.button):hover {
	color: #667791
}

#nav-overlay nav .nav-primary>li ul {
	padding: 20px 0 10px
}

#nav-overlay nav .nav-primary>li ul li {
	padding: 5px 0;
	font-size: 14px;
	line-height: 20px
}

#nav-overlay nav .nav-primary>li ul li ul {
	padding: 20px 0 15px 30px
}

#nav-overlay nav .nav-primary>li:last-of-type ul,#nav-overlay nav .nav-primary>li ul li:last-of-type,#nav-overlay nav .nav-primary>li ul li:last-of-type ul {
	padding-bottom: 0
}

#nav-overlay-open,#nav-overlay-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	margin-top: 12px;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	border: 2px solid rgba(255,255,255,.2);
	border-radius: 6px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

#nav-overlay-open.nav-overlay-light,#nav-overlay-close.nav-overlay-light,#nav-overlay-open.nav-overlay-gray,#nav-overlay-close.nav-overlay-gray {
	color: #0098ef;
	background-color: #fff;
	border-color: #e6e9ee
}

#nav-overlay-open.nav-overlay-dark,#nav-overlay-close.nav-overlay-dark {
	color: #0098ef;
	border-color: #3a4659
}

#nav-overlay-background {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 100%;
	background-color: #0098ef
}

#nav-overlay-background.nav-overlay-light {
	background-color: #fff!important
}

#nav-overlay-background.nav-overlay-gray {
	background-color: #f0f2f5!important
}

#nav-overlay-background.nav-overlay-dark {
	background-color: #2c3645!important
}

#nav-overlay:not(.nav-overlay-visible),#nav-overlay-open:not(.nav-overlay-visible),#nav-overlay-close:not(.nav-overlay-visible),#nav-overlay-background:not(.nav-overlay-visible) {
	display: none
}

.column-row,#content>.content-row .content-header+.column-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: -30px
}

.column-row.column-row-flex-width {
	-webkit-box-pack: justify!important;
	-ms-flex-pack: justify!important;
	justify-content: space-between!important
}

.column-row:not(:first-child) {
	margin-top: 30px
}

.column-row.align-center,.column-row.align-center-top,.column-row.align-center-center,.column-row.align-center-bottom {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

.column-row.align-left-top,.column-row.align-left-center,.column-row.align-left-bottom {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.column-row.align-right-top,.column-row.align-right-center,.column-row.align-right-bottom {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.column-row.align-center-top {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.column-row.align-left-center,.column-row.align-right-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.column-row.align-left-bottom,.column-row.align-center-bottom,.column-row.align-right-bottom {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end
}

.column-row>.column-20,.column-row>.column-25,.column-row>.column-30,.column-row>.column-33,.column-row>.column-40,.column-row>.column-50,.column-row>.column-60,.column-row>.column-66,.column-row>.column-70,.column-row>.column-75,.column-row>.column-80,.column-row>.column-flex {
	padding: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.column-row>.column-20 {
	width: 20%
}

.column-row>.column-25 {
	width: 25%
}

.column-row>.column-30 {
	width: 30%
}

.column-row>.column-33 {
	width: 33.33%
}

.column-row>.column-40 {
	width: 40%
}

.column-row>.column-50 {
	width: 50%
}

.column-row>.column-60 {
	width: 60%
}

.column-row>.column-66 {
	width: 66.66%
}

.column-row>.column-70 {
	width: 70%
}

.column-row>.column-75 {
	width: 75%
}

.column-row>.column-80 {
	width: 80%
}

.container {
	position: relative;
	width: 1280px;
	margin: 0 auto
}

.container.container-full-width {
	width: auto;
	margin: 0 60px;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%
}

.container::after {
	content: "";
	display: table;
	clear: both
}

#header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 0 0 20px;
	background-color: #0098ef;
	-webkit-transition: -webkit-transform .4s,-webkit-box-shadow .4s;
	transition: -webkit-transform .4s,-webkit-box-shadow .4s;
	transition: transform .4s,box-shadow .4s;
	transition: transform .4s,box-shadow .4s,-webkit-transform .4s,-webkit-box-shadow .4s
}

#header.header-light {
	background-color: #fff!important
}

#header.header-dynamic.headroom--pinned.headroom--top {
	-webkit-transition: -webkit-box-shadow .4s;
	transition: -webkit-box-shadow .4s;
	transition: box-shadow .4s;
	transition: box-shadow .4s,-webkit-box-shadow .4s
}

#header.header-dynamic.headroom--pinned {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0)
}

#header.header-dynamic.headroom--unpinned {
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0)
}

#header.header-dynamic.headroom--disabled {
	-webkit-transform: translate3d(0,0,0)!important;
	transform: translate3d(0,0,0)!important
}

#header.header-shadow,#header.header-shadow-scroll.active {
	-webkit-box-shadow: 0 16px 32px rgba(44,54,69,.05);
	box-shadow: 0 16px 32px rgba(44,54,69,.05)
}

#header.header-shadow.headroom--unpinned,#header.header-shadow-scroll.active.headroom--unpinned {
	-webkit-box-shadow: none;
	box-shadow: none
}

#header .logo,#nav-overlay .logo {
	float: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 30%;
	height: 60px;
	line-height: 60px;
	text-decoration: none!important
}

#header .logo img,#nav-overlay .logo img {
	max-width: 100%;
	max-height: 100%
}

#header .logo .logo-text,#nav-overlay .logo .logo-text {
	font-size: 32px;
	white-space: nowrap;
	font-family: Montserrat,sans-serif
}

#header .logo .logo-text small,#nav-overlay .logo .logo-text small {
	font-size: 50%;
	line-height: 50%;
	color: rgba(255,255,255,.6)
}

#header.header-gray .logo .logo-text small,#header.header-light .logo .logo-text small,#nav-overlay.nav-overlay-gray .logo .logo-text small,#nav-overlay.nav-overlay-light .logo .logo-text small {
	color: #a0abbc
}

#header.header-dark .logo .logo-text small,#nav-overlay.nav-overlay-dark .logo .logo-text small {
	color: #667791
}

#header:not(.header-nav-overlay) .logo .logo-text.logo-text-baseline {
	padding-top: 16px
}

#header .logo.logo-center {
	float: none;
	margin: 0 auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

#header nav {
	float: right;
	width: 70%
}

#header.header-nav-overlay nav {
	display: none
}

#header nav ul {
	list-style-type: none
}

#header nav .nav-primary {
	float: right;
	margin-top: 28px
}

#header nav .nav-primary>li {
	position: relative;
	float: left
}

#header nav .nav-primary>li:not(:last-of-type) {
	margin-right: 40px
}

#header nav .nav-primary>li.button-follows {
	margin-right: 10px
}

#header nav .nav-primary>li>a {
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: 700;
	font-family: Montserrat,sans-serif;
	text-transform: uppercase
}

#header:not(.header-light):not(.header-gray):not(.header-dark) .logo,#header:not(.header-light):not(.header-gray):not(.header-dark) nav .nav-primary>li>a:not(.button) {
	color: #fff
}

#header nav .nav-primary>li>a:hover:not(.button) {
	color: #a0abbc;
	text-decoration: none
}

#header.header-dark nav .nav-primary>li>a:hover:not(.button) {
	color: #667791
}

#header:not(.header-light):not(.header-gray):not(.header-dark) nav .nav-primary>li>a:hover:not(.button) {
	color: rgba(255,255,255,.6)
}

#header nav .nav-primary>li>a.button {
	padding: 0 16px;
	border-radius: 4px
}

#header:not(.header-light):not(.header-gray):not(.header-dark) nav .nav-primary>li>a.button.button-primary,#header.header-light nav .nav-primary>li>a.button:not(.button-primary):not(.button-secondary),#header.header-gray nav .nav-primary>li>a.button:not(.button-primary):not(.button-secondary) {
	line-height: 28px;
	padding: 0 14px
}

#header:not(.header-light):not(.header-gray):not(.header-dark) nav .nav-primary>li>a.button.button-primary {
	border: 2px solid rgba(255,255,255,.2)
}

#header:not(.header-light):not(.header-gray) nav .nav-primary>li>a.button:not(.button-primary) {
	border: 0
}

#header nav .nav-primary>li ul,#header.header-dynamic.headroom--unpinned nav .nav-primary>li ul {
	display: none;
	position: absolute;
	padding: 10px;
	margin: 10px 0 0 -20px;
	background-color: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 0 2px rgba(74,86,105,.1),0 15px 30px rgba(74,86,105,.1);
	box-shadow: 0 0 0 2px rgba(74,86,105,.1),0 15px 30px rgba(74,86,105,.1)
}

#header nav .nav-primary>li>ul.nav-button {
	margin-left: 0
}

#header nav .nav-primary>li:hover>ul {
	display: block;
	-webkit-animation: nav-primary-down .2s;
	animation: nav-primary-down .2s
}

#header nav .nav-primary>li>ul::before {
	position: absolute;
	content: "";
	top: -10px;
	left: 0;
	right: 0;
	height: 10px
}

#header nav .nav-primary>li ul li {
	position: relative;
	line-height: 26px;
	white-space: nowrap
}

#header nav .nav-primary>li ul li a {
	display: block;
	padding: 4px 10px;
	font-size: 15px;
	border-radius: 4px
}

#header nav .nav-primary>li ul li a:hover {
	color: #a0abbc;
	text-decoration: none;
	background-color: #f0f2f5
}

#header nav .nav-primary>li ul li ul {
	top: -20px;
	left: 100%;
	margin-left: 20px
}

#header nav .nav-primary>li ul li:hover ul {
	display: block;
	-webkit-animation: nav-primary-right .2s;
	animation: nav-primary-right .2s
}

#header nav .nav-primary>li ul li ul::before {
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: -20px;
	width: 20px
}

#header nav .nav-primary>li>ul.nav-left {
	right: 0;
	margin: 10px -20px 0 0
}

#header nav .nav-primary>li>ul.nav-left.nav-button {
	margin-right: 0
}

#header nav .nav-primary>li ul.nav-left li a {
	text-align: right
}

#header nav .nav-primary>li ul li ul.nav-left {
	left: auto;
	right: 100%;
	margin-right: 20px
}

#header nav .nav-primary>li ul li ul.nav-left::before {
	left: auto;
	right: -20px
}

#header nav .nav-primary>li ul li:hover ul.nav-left {
	display: block;
	-webkit-animation: nav-primary-left .2s;
	animation: nav-primary-left .2s
}

@-webkit-keyframes nav-primary-down {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes nav-primary-down {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@-webkit-keyframes nav-primary-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes nav-primary-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@-webkit-keyframes nav-primary-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10px);
		transform: translateX(10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes nav-primary-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10px);
		transform: translateX(10px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

#header nav .nav-secondary {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-font-smoothing: subpixel-antialiased
}

#header nav .nav-secondary li {
	float: left
}

#header nav .nav-secondary li:not(:last-of-type) {
	margin-right: 30px
}

#header nav .nav-secondary li a {
	display: block;
	font-size: 13px;
	color: rgba(255,255,255,.6)
}

#header.header-light nav .nav-secondary li a,#header.header-gray nav .nav-secondary li a {
	color: #a0abbc
}

#header.header-dark nav .nav-secondary li a {
	color: #667791
}

#header nav .nav-secondary li a:hover {
	color: #fff;
	text-decoration: none
}

#header.header-light nav .nav-secondary li a:hover,#header.header-gray nav .nav-secondary li a:hover {
	color: #4a5669
}

#notification {
	display: none;
	overflow: hidden;
	max-height: 240px;
	background-color: #4169e1;
	-webkit-transition: max-height .6s;
	transition: max-height .6s
}

#notification.notification-hide {
	max-height: 0
}

#notification.notification-error {
	background-color: #cd3100
}

#notification.notification-warning {
	background-color: #ffcc34
}

#notification.notification-success {
	background-color: #00b75a
}

#notification .container::after {
	display: block
}

#notification p {
	margin: 20px 40px;
	color: #fff;
	text-align: center;
	-webkit-transition: opacity .6s;
	transition: opacity .6s
}

#notification.notification-hide p {
	opacity: 0
}

#notification p a {
	color: #fc3;
	white-space: nowrap
}

#notification.notification-warning p,#notification.notification-warning p a {
	color: #4a5669
}

#notification.notification-warning p a,#notification.notification-warning p a .fa,#notification.notification-warning p a .fas,#notification.notification-warning p a .far,#notification.notification-warning p a .fal,#notification.notification-warning p a .fab {
	font-weight: 700
}

#notification.notification-warning #notification-dismiss {
	color: #4a5669
}

#notification.notification-warning #notification-dismiss:hover {
	color: rgba(74,86,105,.5)
}

#notification.notification-warning.hide #notification-dismiss {
	color: transparent
}

#notification-dismiss {
	position: absolute;
	top: 50%;
	right: 0;
	width: 24px;
	height: 24px;
	margin-top: -12px;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: color .2s;
	transition: color .2s;
	color: rgba(255,255,255,.5)
}

#notification-dismiss:hover {
	color: #fff
}

#notification.notification-hide #notification-dismiss {
	color: transparent
}

#notification.notification-dismiss-align #notification-dismiss {
	right: 6px
}

#content>.content-row {
	position: relative;
	overflow: hidden;
	padding: 60px 0;
	background-color: #fff
}

#content>.content-row.content-row-full-height {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

#content>.content-row .container {
	z-index: 3
}

#content>.content-row ul {
	line-height: 28px
}

#content>.content-row ul:not(.list-style-nav):not(.list-style-none):not(.list-style-icon) {
	margin-left: 20px
}

#content>.content-row ul li ul,#content>.content-row ul li ol,#content>.content-row ol li ul,#content>.content-row ol li ol {
	margin: 15px 20px
}

#content>.content-row ul li:last-child ul,#content>.content-row ul li:last-child ol,#content>.content-row ol li:last-child ul,#content>.content-row ol li:last-child ol {
	margin-bottom: 0
}

#content>.content-row h1:not(:first-child),#content>.content-row h2:not(:first-child),#content>.content-row h3:not(:first-child),#content>.content-row h4:not(:first-child),#content>.content-row h5:not(:first-child) {
	margin-top: 40px
}

#content>.content-row p:not(:first-child),#content>.content-row ul:not(:first-child),#content>.content-row ol:not(:first-child),#content>.content-row dl:not(:first-child),#content>.content-row hr:not(:first-child),#content>.content-row pre:not(:first-child),#content>.content-row form:not(:first-child),#content>.content-row table:not(:first-child),#content>.content-row iframe:not(:first-child),#content>.content-row address:not(:first-child),#content>.content-row blockquote:not(:first-child),#content>.content-row .pre-code:not(:first-child),#content>.content-row .feature-box:not(:first-child),#content>.content-row .product-box:not(:first-child),#content>.content-row .product-slider:not(:first-child),#content>.content-row .product-configurator:not(:first-child),#content>.content-row .network-map:not(:first-child),#content>.content-row .testimonial:not(:first-child),#content>.content-row .tab-group:not(:first-child),#content>.content-row .gallery:not(:first-child) {
	margin-top: 20px
}

#content>.content-row h1+.column-row,#content>.content-row h2+.column-row,#content>.content-row h3+.column-row,#content>.content-row h4+.column-row,#content>.content-row h5+.column-row,#content>.content-row p+.column-row,#content>.content-row ul+.column-row,#content>.content-row ol+.column-row,#content>.content-row dl+.column-row,#content>.content-row hr+.column-row {
	margin-top: -10px
}

#content>.content-row .content-header {
	margin: 0 auto 60px;
	text-align: center
}

#content>.content-row .content-header:only-child {
	margin-bottom: 0!important
}

#content>.content-row .content-header mark {
	background-color: rgba(74,86,105,.1)
}

#content>.content-row .content-header.content-header-align-left,#content>.content-row .content-header.content-header-large.content-header-align-left p {
	text-align: left;
	margin-left: 0
}

#content>.content-row .content-header.content-header-align-right,#content>.content-row .content-header.content-header-large.content-header-align-right p {
	text-align: right;
	margin-right: 0
}

#content>.content-row .content-header.content-header-large {
	max-width: 100%
}

#content>.content-row .content-header.content-header-large h1,#content>.content-row .content-header.content-header-large h2,#content>.content-row .content-header.content-header-large h3 {
	font-weight: 700
}

#content>.content-row .content-header.content-header-large h1 {
	font-size: 62px;
	line-height: 72px;
	letter-spacing: -1px
}

#content>.content-row .content-header.content-header-large h2 {
	font-size: 52px;
	line-height: 62px
}

#content>.content-row .content-header.content-header-large h3 {
	font-size: 42px;
	line-height: 52px
}

#content>.content-row .content-header.content-header-large p {
	max-width: 708px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	line-height: 36px;
	font-family: Montserrat,sans-serif
}

#content>.content-row .content-header.content-header-uppercase h1,#content>.content-row .content-header.content-header-uppercase h2,#content>.content-row .content-header.content-header-uppercase h3,#content>.content-row .content-header.content-header-uppercase h4,#content>.content-row .content-header.content-header-uppercase h5 {
	font-weight: 700;
	text-transform: uppercase
}

#content>.content-row .content-background {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

#content>.content-row .content-background img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	max-width: none;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%)
}

#content>.content-row .content-background.object-fit-width img {
	width: 100%!important;
	height: auto!important
}

#content>.content-row .content-background.object-fit-height img {
	width: auto!important;
	height: 100%!important
}

#content>.content-row .content-background.content-background-scale img {
	width: auto;
	height: auto
}

#content>.content-row .content-background.content-background-light img {
	opacity: .2
}

#content>.content-row.content-row-gray {
	background-color: #f0f2f5
}

#content>.content-row.content-row-dark {
	background-color: #2c3645
}

#content>.content-row.content-row-color {
	background-color: #4169e1
}

#content>.content-row.content-row-dark,#content>.content-row.content-row-color {
	color: #fff
}

#content>.content-row.content-row-dark .text-color-gray {
	color: #667791
}

#content>.content-row.content-row-dark .product-box {
	border: 0
}

#content>.content-row.content-row-dark .text-color-gray {
	color: #667791!important
}

#content>.content-row.content-row-dark .product-box .product-popular {
	left: 0;
	right: 0
}

#footer {
	padding: 30px 0;
	color: #a0abbc
}

.footer-dark {
	background-color: #2c3645
}

.footer-dark #footer {
	color: #667791
}

#footer .footer-primary {
	padding: 30px 0
}

#footer .footer-primary h5 {
	padding-bottom: 6px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase
}

.footer-dark #footer a:not(.button),.footer-dark #footer .footer-primary ul li a:hover {
	color: #fff
}

#footer .footer-primary p:not(:first-child) {
	margin-top: 14px
}

#footer .footer-primary ul {
	margin-top: 10px;
	list-style-type: none
}

#footer .footer-primary ul li a {
	display: inline-block;
	padding: 4px 10px;
	margin-left: -10px;
	line-height: 28px;
	font-size: 15px;
	border-radius: 4px
}

#footer .footer-primary ul li a:hover {
	color: #a0abbc;
	text-decoration: none;
	background-color: #f0f2f5
}

.footer-gray #footer .footer-primary ul li a:hover {
	background-color: #e6e9ee
}

.footer-dark #footer .footer-primary ul li a:hover {
	background-color: #3c4655
}

.footer-color #footer .footer-primary ul li a:hover {
	background-color: rgba(255,255,255,.2)
}

#footer .footer-primary ul li ul {
	margin-top: 0;
	padding: 5px 0 5px 20px
}

#footer .footer-primary ul.list-style-icon li {
	padding-left: 0
}

#footer .footer-secondary:not(:first-child) {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 2px solid #e6e9ee
}

.footer-dark #footer .footer-secondary:not(:first-child) {
	border-color: #3a4659
}

#footer .footer-secondary p {
	font-size: 14px;
	text-align: center
}

@media(max-width:1340px) {
	.container {
		width: auto;
		margin: 0 30px;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%
	}
}

@media(max-width:1024px) {
	#header .logo,#nav-overlay .logo {
		max-width: 100%;
		margin-right: 60px
	}

	#header:not(.header-nav-overlay) .logo .logo-text.logo-text-baseline {
		padding-top: 0
	}

	#header nav {
		display: none
	}

	#nav-overlay:not(.nav-overlay-visible),#nav-overlay-open:not(.nav-overlay-visible),#nav-overlay-close:not(.nav-overlay-visible),#nav-overlay-background:not(.nav-overlay-visible) {
		display: block
	}

	#notification[data-dismissible=true] p {
		margin-left: 0;
		margin-right: 64px;
		text-align: left
	}

	#notification p a.text-margin-left {
		margin-left: 0
	}

	#notification-dismiss {
		right: 6px
	}

	.column-row,#content>.content-row .content-header+.column-row {
		margin: -15px
	}

	.column-row:not(:first-child) {
		margin-top: 15px
	}

	#content>.content-row h1+.column-row,#content>.content-row h2+.column-row,#content>.content-row h3+.column-row,#content>.content-row h4+.column-row,#content>.content-row h5+.column-row,#content>.content-row p+.column-row,#content>.content-row ul+.column-row,#content>.content-row ol+.column-row,#content>.content-row dl+.column-row,#content>.content-row hr+.column-row {
		margin-top: 5px
	}

	.column-row>.column-20,.column-row>.column-25,.column-row>.column-30,.column-row>.column-33,.column-row>.column-40,.column-row>.column-50,.column-row>.column-60,.column-row>.column-66,.column-row>.column-70,.column-row>.column-75,.column-row>.column-80,.column-row>.column-flex {
		padding: 15px
	}

	#content>.content-row {
		padding: 30px 0
	}

	#content>.content-row .content-header {
		margin-bottom: 30px
	}

	#footer,#footer .footer-primary {
		padding: 15px 0
	}

	#footer .footer-secondary:not(:first-child) {
		padding-top: 15px;
		margin-top: 15px
	}
}

@media(max-width:960px) {
	.column-row {
		display: block!important
	}

	.column-row>.column-20,.column-row>.column-25,.column-row>.column-30,.column-row>.column-33,.column-row>.column-40,.column-row>.column-50,.column-row>.column-60,.column-row>.column-66,.column-row>.column-70,.column-row>.column-75,.column-row>.column-80,.column-row>.column-flex {
		width: auto
	}

	.network-map ul li span.label-top-left,.network-map ul li span.label-top-right,.network-map ul li span.label-bottom-left,.network-map ul li span.label-bottom-right {
		display: none
	}
}

@media(max-width:768px) {
	#content>.content-row .content-header,#content>.content-row .content-header.content-header-large p {
		max-width: 100%
	}
}

@media(max-width:768px),(max-height:640px) {
	body {
		padding-top: 80px
	}

	body.touch-device #content>.content-row .content-slider>i.slide-previous,body.touch-device #content>.content-row .content-slider>i.slide-next,body.touch-device #gallery-overlay-previous,body.touch-device #gallery-overlay-next {
		display: none!important
	}

	body.touch-device #gallery-overlay ul li {
		padding: 0
	}

	#header,#nav-overlay {
		padding: 10px 0
	}

	#nav-overlay nav {
		margin: 0 -30px
	}

	#nav-overlay nav .nav-primary {
		margin-top: 10px;
		border-left: 0;
		border-right: 0;
		border-radius: 0
	}

	#header .logo .logo-text,#nav-overlay .logo .logo-text {
		font-size: 28px
	}

	#notification p {
		font-size: 14px;
		line-height: 26px
	}

	#content>.content-row .content-header.content-header-large h1 {
		font-size: 42px;
		line-height: 52px;
		letter-spacing: normal
	}

	#content>.content-row .content-header.content-header-large h2 {
		font-size: 32px;
		line-height: 42px
	}

	#content>.content-row .content-header.content-header-large h3 {
		font-size: 24px;
		line-height: 34px
	}

	#content>.content-row .content-header.content-header-large p {
		font-size: 18px;
		line-height: 30px
	}
}